---
layout: blog.default
title: My Bookshelf
description: >-
    Some books and papers that I enjoy or want to read in the future. This page
    is only occasionally updated, and will forever be out-of-date. For now,
    it can hopefully give you some insight into my interests and give some better
    visibilities to authors that inspire me.
redirect_from: /bookshelf.html
---

{% include ext-navigation.html %}

<div class="container tight">
    <main>
        <header>
            <h1 id="title">{{ page.title }}</h1>
        </header>

        <div class="spacer">
            <p>{{ page.description }}</p>
        </div>

        <h2>Papers I've Enjoyed</h2>
        <p>
            <em>Aside:</em> This section is the most chronically out-of-date, since I try to read
            at least one paper per day and narrowing down favorites retrospectively is a large task.
            I've written some code to fetch and parse data on what I've read via Zotero, however
            I have yet to decide how to organize and display this data to you, dear reader, such
            that it isn't an overwhelming hose of information.<br/><br/>Regardless, these papers
            have played a large role in shaping me and still deserve a place here.
        </p>
        <ul>
            <li>
                <a href="https://arxiv.org/abs/2102.11174" class="link" target="_blank">
                    Schlag, Imanol, Kazuki Irie, and Jürgen Schmidhuber. "Linear
                    transformers are secretly fast weight programmers."
                    <i>International Conference on Machine Learning</i>. PMLR, 2021.
                </a>
            </li>
            <li>
                <a href="https://arxiv.org/abs/2212.07677" class="link" target="_blank">
                    Von Oswald, Johannes, et al. "Transformers learn in-context by
                    gradient descent."
                    <i>International Conference on Machine Learning</i>. PMLR, 2023.
                </a>
            </li>
            <li>
                <a href="https://arxiv.org/abs/1805.06576" class="link" target="_blank">
                    Balestriero, Randall, and Richard Baraniuk. "Mad max: Affine spline
                    insights into deep learning."
                    <i>arXiv preprint arXiv:1805.06576</i>, 2018.
                </a>
            </li>
            <li>
                <a href="https://doi.org/10.1016/0025-5564(74)90031-5" class="link" target="_blank">
                    Little, W.A. "The existence of persistent states in the brain."
                    <i>Mathematical Biosciences</i>, 1974.
                </a>
            </li>
            <li>
                <a href="https://arxiv.org/abs/2302.12828" class="link" target="_blank">
                    Humayun, Ahmed Imtiaz, et al. "Splinecam: Exact visualization and
                    characterization of deep network geometry and decision boundaries."
                    <i>
                        Proceedings of the IEEE/CVF Conference on Computer Vision and
                        Pattern Recognition.</i>, 2023.
                </a>
                <details>
                    <summary>Some Notes</summary>
                    <div class="note">
                        This paper builds off of the above "Mad Max" paper by visualizing
                        the geometry that is explored in that paper. I had an idea after
                        reading "Mad Max" that motivated me to start implementing a similar
                        visualization. Once I got stuck and was doing some research online
                        to help my problems, I discovered this paper!
                    </div>
                </details>
            </li>

            <li>
                <a href="https://arxiv.org/abs/1905.02175" class="link" target="_blank">
                    Ilyas, Andrew, et al. "Adversarial examples are not bugs, they are
                    features."
                    <i>Advances in neural information processing systems</i>, 2019.
                </a>
            </li>

            <li>
                <a href="https://arxiv.org/abs/2309.17453" class="link" target="_blank">
                    Xiao, Guangxuan, et al. "Efficient Streaming Language Models with
                    Attention Sinks."
                    <i>arXiv preprint arXiv:2309.17453</i>, 2023.
                </a>
                <details>
                    <summary>Some Notes</summary>
                    <div class="note">
                        This paper builds off of
                        <a href="https://www.evanmiller.org/attention-is-off-by-one.html" class="link"
                            target="_blank">Evan Miller's <b>Attention is Off By One</b> blog post
                        </a>
                        which I think is a great (dare I say mathematically "morally
                        correct") interpretation of the deficiencies of using Softmax in
                        Attention. I ended up having some questions about Table 3. in that
                        paper, which benchmarks Evan Miller's Softmax variant, and so I
                        posted an issue
                        <a href="https://github.com/mit-han-lab/streaming-llm/issues/44" class="link"
                            target="_blank">on the Github page for their paper</a>.
                    </div>
                </details>
            </li>
        </ul>
        <br />
        <br />
        <h2>Books</h2>
        <p>
            You can also find me on <a href="{{ site.socials.goodreads }}" rel="me external author" class="link"
                target="_blank">Goodreads</a>, which tends to be more up to date.
        </p>
        <div class="bumpn">
            <h3>Books I Like</h3>
            <p class="bumpn"></p>
            <ul>
                <li>
                    <i>The Art of Doing Science and Engineering: Learning to Learn</i> by Richard Hamming
                    <sup><a href="#note-3">[3]</a></sup>
                </li>
                <li>
                    <i>Computation: Finite and Infinite Machines</i> by Marvin Minsky
                </li>
                <li>
                    <i>Computer Lib/Dream Machines</i> by Ted Nelson
                </li>
                <li>
                    <i>Gödel, Escher, Bach: an Eternal Golden Braid</i> by Douglas Hofstadter
                    <sup><a href="#note-1">[1]</a></sup>
                </li>
                <li><i>Remembrance of Earth's Past</i> (Trilogy) by Liu Cixin</li>
                <li>
                    <i>Calculus</i>, Fourth Edition by Michael Spivak (ISBN-10 0914098918)
                    <sup><a href="#note-2">[2]</a></sup>
                </li>
            </ul>

            <h3>Books I'm Working Through</h3>
            <ul>
                <li><i>Visual Group Theory</i> by Nathan Carter</li>
                <li><i>To Mock a Mockingbird and Other Logic Puzzles</i> by Raymond M. Smullyan</li>
            </ul>

            <h3>Books I Want to Read</h3>
            <ul>
                <li><i>Chaos: Making a New Science</i> by James Gleick</li>
                <li><i>The Road to Reality</i> by Roger Penrose</li>
            </ul>
        </div>
    </main>
    <hr style="max-width: 250px; margin: 30px auto;" />
    <p>
        <sup id="note-1">[1]</sup> This book has truly changed the way I think about intelligence
        <i>and</i> formal systems in a profound way. Along with the "Rememeberance of
        Earth's Past" trilogy, this has now become a book that I recommend to many
        people. I think it is highly motivating in some of what I want to focus on in my
        future studies.
        <br /><br />
        <sup id="note-2">[2]</sup> Funnily enough, this is one of my favorite books that I learned
        from during my undergrad. Calculus by Spivak is a great book, even to look
        back on!
        <br /><br />
        <sup id="note3">[3]</sup> More so than the book, I <em>highly</em>, <strong><em>highly</em></strong>,
        recommend Hamming's lecture series "Learning to Learn", which you <a
            href="https://www.youtube.com/playlist?list=PL2FF649D0C4407B30" target="_blank">can find on YouTube</a>. In particular,
        the last lecture in that series <a href="https://youtu.be/a1zDuOPkMSw" target="_blank">"You and Your Research"</a>,
        which for me was <em>lifechanging</em>. I think that everyone, whether in research or industry,
        would take great value from watching that lecture. You can think of it less of a lecture in the academic
        sense, and more of a <em>sermon</em> on how to lead a great life -- great by <em>your standards</em>.
    </p>
</div>

{% include footer.html tight='true' %}
