---
layout: blog.default
title: "Microposts"
description: Frederick Morlock's personal blog.
permalink: '/blog/micros/'
redirect_from:
- /blog/categories/microposts/
---

{% include ext-navigation.html %}

<div class="container tight">
    <main>
        <header>
            <h1 id="title">Frederick's Blog</h1>
        </header>

        <div class="spacer">
            <p>My personal blog, where the few posts that escape my drafts folder live. I like to write about
                mathematics, technology, and some opinions on technology's place in society.</p>
            <p>You can be notified of new posts by subscribing to my <a href="/feeds/">RSS feed</a>.</p>
        </div>

        <h2>{{ page.title }} <small>(<a href="/blog/">Back to Main Blog</a>)</small></h2>

        {% for post in site.microposts %}
            {%- include post_entry.html post=post -%}
        {% endfor %}
    </main>
</div>

{% include footer.html tight='true' %}
