// https://venngage.com/tools/accessible-color-palette-generator
$link-color: #85144b;
$link-color-active: #700d39;
$link-color-hover: #9b1758;

$dark-link-color: #f165d3;
$dark-link-color-active: #d950bd;
$dark-link-color-hover: #f7a8e5;

$spoiler-color: whitesmoke;
$dark-spoiler-color: #252525;

$text-color: black;
$text-color-dark: white;

$border-color-dark: #8c8273;
