td {
  padding-right: 0.5em;
}

h1,
h2,
h3 {
  font-weight: 600;
}

#avatar {
  display: block;
  width: 320px;
  height: auto;
  margin: auto;
  border-radius: 50%;
  border: 2px black solid;
}

.exp_desc {
  margin-left: 1em;
}

#links {
  line-height: 2;
}
