@import "_colors";

html,
body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  // box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
  // color: #545454;
  background-color: white;
  background: url(../../assets/img/dot-grid.png);
  font-family: "Fira Code", "Courier New", Courier, monospace;
  // font-size: 16px;
}

a[href] {
  color: $link-color;
  text-decoration: none;
  border-bottom: 0.1em dotted $link-color;
}

.link {
  white-space: nowrap;
}

.link::after {
  //   font-family: "Courier New", Courier, monospace;
  content: " >>";
  vertical-align: middle;
  display: inline-block;
  margin-left: 3px;
  /* line-height: normal; */
}

#title {
  position: relative;
  text-align: center;
}

#title a {
  font-size: 2em;
  border-bottom: 1px solid $link-color;
}

#navigation {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  font-weight: 600;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  li {
    display: inline;
    margin: 20px;
    line-height: 2;
  }

  a {
    text-decoration: none;
  }
}

#footer {
  margin: 0 auto;
  padding: 15px;
  border-top: black 1px solid;
  text-align: center;
  line-height: 1.5;

  p {
    text-align: justify;
  }

  #copyright {
    text-align: center;
  }
}

.container {
  margin: 0 auto;
}

.container,
#footer {
  width: 75%;
  // background: white;
  // padding: 2em 2em 0;
}
