@media (max-width: 500px) {
  .container,
  #footer {
    width: 85%;
  }

  #avatar {
    width: 256px;
    height: 256px;
  }

  #navigation > li {
    padding: 10px;
  }
}

@media (max-width: 360px) {
  .container,
  #footer {
    width: 90%;
  }

  #avatar {
    width: 160px;
    height: 160px;
  }

  #navigation > li {
    padding: 5px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: black;
    background: url(../../assets/img/dot-grid_inv.png);
  }
  img {
    border: 2px white solid;
  }

  a[href] {
    color: $dark-link-color;
    // border-bottom: 0.1em dotted $dark-link-color;
    text-decoration: underline dotted $dark-link-color 0.1em;
  }

  #title a {
    font-size: 2em;
    color: $dark-link-color;
    // border-bottom: 1px solid $dark-link-color;
    text-decoration: underline solid $dark-link-color 1px;
  }

  .container .post a {
    color: $dark-link-color;
    text-decoration: underline dotted $dark-link-color 0.1em;
  }

  .container h1,
  .container h2,
  .container h3,
  .container h4,
  .container h5,
  .container h6 {
    color: white;
  }
}
