@use "colors";

:root {
  color-scheme: light dark;
}

@media (max-width: 512px) {
  .container,
  #footer {
    width: 85%;
  }

  // #avatar {
  //   width: 256px;
  //   height: 256px;
  // }

  #navigation li {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 400px) {
  .container,
  #footer {
    width: 90%;
  }

  // #avatar {
  //   width: 160px;
  //   height: 160px;
  // }

  #navigation li {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: black url(/assets/img/dot-grid_inv.png);
  }

  img {
    border: 2px white solid;
  }

  table td + td, table th + th {
    border-left: 1px dotted white;
  }

  #footer {
    border-color: colors.$border-color-dark;
  }

  a[href] {
    color: colors.$dark-link-color;
    text-decoration: none;
    border-bottom: dotted colors.$dark-link-color 0.1em;

    // &:visited {
    //   color: $dark-link-color-visited;
    //   border-bottom: dotted $dark-link-color-visited 0.1em;
    // }

    &:hover {
      color: colors.$dark-link-color-hover;
      border-bottom: dotted colors.$dark-link-color-hover 0.1em;

      &.taglink {
        border: 1px solid colors.$dark-link-color-hover;
      }
    }

    &:active {
      color: colors.$dark-link-color-active;
      border-bottom: dotted colors.$dark-link-color-active 0.1em;

      &.taglink {
        border: 1px solid colors.$dark-link-color-active;
      }
    }

    &.default {
      color: colors.$text-color-dark;
      border-bottom: solid colors.$text-color-dark 0.1em;
    }

    &.current {
      color: colors.$text-color-dark;
      border-bottom: dotted colors.$text-color-dark 0.1em;

      font-weight: 400;
    }

    &.taglink {
      border: 1px solid colors.$dark-link-color;
      text-decoration: none;
    }

    &.normal {
      color: colors.$text-color-dark;
      text-decoration: none;
      border: 0;
    }
  }

  .container .post a {
    color: colors.$dark-link-color;
    border-bottom: dotted colors.$dark-link-color 0.1em;
  }

  .container h1,
  .container h2,
  .container h3,
  .container h4,
  .container h5,
  .container h6 {
    color: white;
  }

  details > div,
  .note.grey {
    background-color: colors.$dark-spoiler-color;
  }

  .box,
  .spacer,
  .comment,
  .pub {
    background-color: colors.$dark-spoiler-color;
    border: 1px solid colors.$border-color-dark;
  }
}
