---
layout: blog.default
title: "All Posts"
description: Frederick Morlock's personal blog.
permalink: '/blog/all/'
---

{% include ext-navigation.html %}

<div class="container tight">
    <main>
        <header>
            <h1 id="title">Frederick's Blog</h1>
        </header>

        <div class="spacer">
            <p>My personal blog, where the few posts that escape my drafts folder live. I like to write about
                mathematics, technology, and some opinions on technology's place in society.</p>
            <p>You can be notified of new posts by subscribing to my <a href="/feeds/">RSS feed</a>.</p>
        </div>

        <h2>{{ page.title }} <small>(<a href="{{ site.baseurl }}/blog/">Hide micros</a>)</small></h2>

        {% assign posts = site.posts | concat: site.microposts | sort: "date" | reverse %}
        {% for post in posts %}
            {%- include post_entry.html post=post -%}
        {% endfor %}
    </main>
</div>

{% include footer.html tight='true' %}
