<!DOCTYPE html>
<html lang="en">
  <!-- Welcome to my website source code. This is (mostly) handwritten with love :) -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% seo %} {% include feed_meta_2.html %}

    <link
      rel="preload"
      as="style"
      href="{{ site.baseurl }}/assets/css/fira_code.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fira_code.css" />

    <link
      rel="preload"
      as="style"
      href="{{ site.baseurl }}/assets/css/main.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
    {% if page.usemath %} {% include katex.html %} {% endif %}
  </head>

  <body>
    {{ content }}
  </body>
</html>
