---
layout: blog.default
---

{% include ext-navigation.html %}

<div class="container tight">
<main>
  <header>
    <h1 id="title">Frederick's Blog</h1>
  </header>

  <h2>Posts by Category: "{{ page.category }}"</h2>

  <div class="spacer">
    <p>All posts in the "{{ page.category }}" category. <a href="/blog/categories/"><em>Click here for all categories.</em></a></p>
  </div>

  <ul>
    {% for post in site.categories[page.category] %}
    <li>
      {{ post.date | date: "%B %d, %Y" }}:
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</main>
</div>

{% include footer.html tight='true' %}
