---
layout: blog.basic
---

<div class="h-card desc-container">
    <div id="avatar">
        <a class="u-url u-uid" href="/" style="pointer-events: none; cursor: default;">
            <img src="{{ site.baseurl }}/assets/img/avatar_320x320.jpg" height="180" width="180" alt="photo of me" class="u-photo" />
        </a>
        <!-- <p>Here is a small description about stuff that I hope to one day turn into something else</p> -->
        <p style="text-align:center;">
          <a href="{{ site.socials.github }}" target="_blank" rel="external me" class="normal" title="GitHub">
            <svg class="svg-icon" aria-hidden="true" focusable="false">
              <use xlink:href="/assets/img/minima-social-icons.svg#github"></use>
            </svg>
            <span class="sr-only">GitHub</span>
          </a>
          <a href="{{ site.socials.googlescholar }}" target="_blank" rel="external me" class="normal" title="Google Scholar">
            <svg class="svg-icon" aria-hidden="true" focusable="false">
              <use xlink:href="/assets/img/minima-social-icons.svg#google_scholar"></use>
            </svg>
            <span class="sr-only">Google Scholar</span>
          </a>
          <a href="{{ site.socials.linkedin }}" target="_blank" rel="external me" class="normal" title="LinkedIn">
            <svg class="svg-icon" aria-hidden="true" focusable="false">
              <use xlink:href="/assets/img/minima-social-icons.svg#linkedin"></use>
            </svg>
            <span class="sr-only">LinkedIn</span>
          </a>
        </p>
    </div>
    <div id="desc">
        <h1><span class="p-name">{{ site.title }}</span></h1>
        <p class="p-note">{{ site.long_description }}</p>
    </div>
</div>

<div class="content">
    {{ content }}
</div>
