---
layout: blog.default
---

{% include ext-navigation.html %}

<div class="container tight">
  <h1 id="title">Frederick's Blog</h1>

  <h2>{{ page.title }}</h2>

  {% if page.date %}
  <div>
    <p>
      <b>Posted:</b> {{ page.date | date: "%B %e, %Y" }} in
      <a href="/blog/categories/{{ page.category }}">{{ page.category }}</a>. {%
      if page.last_modified_at %}
      <i
        ><b>Last Updated:</b> {{ page.last_modified_at | date: "%B %e, %Y" }}</i
      >
      {% endif %}
    </p>
  </div>
  {% endif %}

  <div class="spacer">
    <b>Abstract:</b>
    <p>{{ page.description }}</p>
  </div>

  <div class="postcontent">{{ content }}</div>

  {% if page.tags %}
  <div id="tags">
    <b>Tags: </b>
    {% for tag in page.tags %}
    <a href="/blog/tags/{{ tag }}" class="taglink">{{ tag }}</a>
    {% endfor %}
  </div>
  {% endif %}
</div>
<div id="footer" class="tight">
  <p id="copyright">
    &copy; {{ site.time | date: '%Y' }} Frederick Morlock. All rights reserved.
  </p>
</div>
