<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>
    {% seo %}

    <link
      rel="preload"
      as="style"
      href="{{ site.baseurl }}/assets/css/fira_code.css"
    />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fira_code.css" />

    <link
      rel="preload"
      as="style"
      href="{{ site.baseurl }}/assets/css/main.css"
    />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
    {% if page.usemathjax %} {% include mathjax.html %} {% endif %}
  </head>

  <body>
    <div id="navigation">
      <div id="title">
        <a href="{{ page.backlink | default: '/blog' }}">
          Frederick's Ramblings
        </a>
      </div>
    </div>
    <div class="container tight">
      <div class="spacer">
        <b>Abstract:</b>
        <p>{{ page.description }}</p>
      </div>

      <div class="postcontent">{{ content }}</div>
    </div>
    <div id="footer" class="tight" style="text-align: center">
      <p id="copyright">
        &copy; {{ site.time | date: '%Y' }} Frederick Morlock. All rights
        reserved.
      </p>
    </div>
  </body>
</html>
