---
layout: blog.default
---

{% include ext-navigation.html %}


<div class="container tight">
<main>
  <header>
    <h1 id="title">Frederick's Blog</h1>
  </header>

  <article class="h-entry">
  <h2 class="p-name">{{ page.title }}</h2>

  {%- capture category_link -%}
     {% if page.category == 'microposts' -%}
        <a href="/blog/micros/" class="p-category">microposts</a>
     {%- else -%}
        <a href="/blog/categories/{{ page.category }}/" class="p-category">{{ page.category }}</a>
     {%- endif %}
  {%- endcapture -%}

  {% if page.date %}
  <div>
    <p>
        <b>Posted:</b> <time class="dt-published">{{ page.date | date: "%B %e, %Y" }}</time> in
        {{ category_link }}<span class="hidden"> by <a class="p-author h-card hidden" rel="author" href="/">Frederick Morlock</a></span>.
        {% if page.last_modified_at %}
      <i
      ><b>Last Updated:</b> <time class="dt-updated">{{ page.last_modified_at | date: "%B %e, %Y" }}</time></i
      >
      {% endif %}
    </p>
  </div>
  {% endif %}

  <div class="spacer">
    <p><b>Abstract:</b></p>
    <p class="p-summary">{{ page.description }}</p>
    </div>

    <div class="postcontent e-content">{{ content }}</div>
</article>
  {% if page.tags != empty -%}
  <div id="tags">
    <b>Tags: </b>
    {% for tag in page.tags %}
    <a href="/blog/tags/{{ tag }}/" class="taglink">{{ tag }}</a>
    {% endfor %}
  </div>
  {%- endif -%}

  {% if page.post_id %}
  {% include comments.html comments=page.comments %}
  {% endif %}

</main>
</div>

{% include footer.html tight='true' %}
